body {
  background-color: #F0BAFF;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 52px;
  display: flex;
  width: 100%;
  justify-content: center;
  font-style: italic;
}

h2 {
  font-size: 32px;
  width: 60%;
}

h4 {
  font-size: 25px;
}

.input{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.form{
  display: flex; 
  align-items: center;
  height: 70px;
}

.output{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}




